@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
body{
  font-family: 'ubuntu',sans-serif !important;
  background-color: antiquewhite !important;
}

.contact-image{
  height:180px;
  width:180px;
  border-radius: 50%;

}